body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;

    color: #e50dcf;
    background: center / cover;
    transition: all 0.8s linear;
    font-family: 'Quicksand', sans-serif;
}

* {
    box-sizing: border-box;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0;
}


/*Weather*/

.weather {
    display: flex;
    flex-direction: column;
}

.nameCity {
    margin-bottom: 8px;
    font-size: 2rem;
    cursor: pointer;
}


.nameCityInput {
    display: none;
    padding: 5px 10px;
    /*border: 1px solid red;*/
    font-family: 'Quicksand', sans-serif;
}

.nameCityInput:focus {
    outline: none;
    border: 2px solid #510bba;
    border-radius: 7px;
}



.temperature {
    margin-top: 8px;
    font-size: 1.2rem;
}


/*navigation*/

.nav {
    padding: 0 20px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav a {
    text-decoration: none;
    color: black;
    transition: opacity 0.2s linear;
}

.nav a:hover {
    opacity: .6;
}

.time {
    font-size: 8rem;
}

/*Greeting*/

.get__greeting{
    display: flex;
}
h1 {
    margin-bottom: 3rem;
}

h2 {
    margin-bottom: .5rem;
    opacity: .6;
}

@media (max-width: 769px) {
    .time {
        font-size: 6rem;
    }
}

@media (max-width: 500px) {
    .time {
        font-size: 3.1rem;
        margin-bottom: 1rem;
    }

    h1 {
        margin-bottom: 1.5rem;
    }

    h2 {
        margin-bottom: .2rem;
        opacity: .6;
    }
}
